#legContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.idBox {
    background: #b3ffb3;
    flex: 1;
    margin: 1%;
    padding: 1%;
    min-width: 25%;
    max-width: 25%;
}

input {
    margin: 0 auto;
    width: 80%;
    border: 3px solid red;
    font-size: 28px;
}
